<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet"  type="text/css" href="/main.css" />
    <title>Author Home Page</title>
</head>
<body class="body">
    <header class="header">
        <div>
            <h1 class="title"><%= authorName %></h1>
            <h6 class="title">HOME PAGE</h1>
        </div>
        <nav>
            <ul class="navigation-container">
                <li>CREATE NEW DRAFT</li>
                <li>SETTINGS</li>
            </ul>
        </nav>
    </header>
    <div class="main-container">
        <h2><%= blogTitle %></h2>
    </div>
</body>
</html>
