<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/main.css" />
    <link rel="stylesheet" type="text/css" href="/login.css" />
    <title>Sign Up</title>
</head>

<body class="body">
    <form class="form" action="signup" method="POST">
        <h2 class="title">SIGN UP</h2>
        <label class="label">NAME</label>
        <input type="text" name="user_name" required />
        <label class="label">EMAIL</label>
        <input type="email" name="email" required />
        <label class="label">PASSWORD</label>
        <input type="password" name="password" required />
        <div class="buttons-container">
            <a href="/">
                <div class="button">CANCEL</div>
            </a>
            <button class="button">SIGN UP</button>
        </div>
    </form>
</body>

</html>