<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="https://kit.fontawesome.com/2d9060194c.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" type="text/css" href="/main.css" />
    <link rel="stylesheet" type="text/css" href="/login.css" />
    <title>Log In</title>
</head>

<body class="body">
    <form class="form" method="POST">
        <h2 class="title">LOG IN</h2>
        <label class="label">EMAIL</label>
        <input type="email" name="email" required />
        <label class="label">PASSWORD</label>
        <input type="password" name="password" required />
        <div class="buttons-container">
            <a href="/">
                <div class="button">CANCEL</div>
            </a>
            <button class="button">LOG IN</button>
        </div>
    </form>
</body>

</html>