* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

ul {
    list-style-type: none
}

.button {
    border: 2px solid #163020;
    border-radius: 4px;
    cursor: pointer;
    background-color: transparent;
    color: #163020;
    font-size: 12px;
    font-weight: 600;
    padding: 2px 4px;
    transition: 0.2s;
}

.button:hover {
    background-color: #163020;
    color: white;
}

.button.red {
    border-color: #FF4545;
    color: #FF4545;
}

.button.red:hover {
    background-color: #FF4545;
    color: white;
}

.space-between {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.title {
    margin: 0;
}

.body {
    min-height: 100vh;
    background-color: #B6C4B6;
}

.header {
    width: 100%;
    padding: 24px;
    background-color: #163020 ;
    color: #EEF0E5;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.main-container {
    margin: 24px;
    padding: 24px;
    background-color: white;
    border-radius: 8px;
    color: #163020;
    display: flex;
    flex-direction: column;
    gap: 12px
}

.main-container > h2 {
    margin-bottom: 12px;
}

.navigation-container {
    display: flex;
    gap: 24px;
    font-size: 12px;
    font-weight: 600;
}

.navigation-container > li {
    cursor: pointer;
}